* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background: var(--background);
    color: var(--text);
    font-family: "Poppins", sans-serif;
}
/* VARIÁVEIS */

:root {
    /* Cores principais */
    --navy: #0d1b2a;
    --dark-blue: #1b263b;
    --blue: #415a77;
    --light-blue: #778da9;

    /* Destaques */
    --gold: #d4a64a;
    --gold-light: #e6c36a;

    /* Fundos */
    --background: #f8f9fa;
    --card: #ffffff;

    /* Textos */
    --text: #2f2f2f;
    --text-light: #6c757d;
}
/* CABEÇALHO */
.cabeca {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100px;
    padding: 0 80px;

    background: var(--navy);
}
.logo {
    display: block;
    width: 210px;
    height: auto;
}
.cabecalho {
    display: flex;
    align-items: center;
    gap: 45px;
}
.cabecalho a{
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;

    transition: color 0.3s, opacity 0.3s;
}
.cabecalho a:hover {
    color: var(--gold);
}
.cabecalho a:active {
    opacity: 0.6;
}
/* CABEÇALHO */

/* TOPO DA PÁGINA */
.topo {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 620px;
    padding: 80px;

    background: var(--dark-blue);
    overflow: hidden;
}
.topo h3 {
    position: relative;
    z-index: 2;

    font-family: "Playfair Display", serif;
    padding: 10px 0;
    color: var(--gold);
}
.topo h1 {
    position: relative;
    z-index: 2;

    max-width: 560px;

    color: #ffffff;
    font-family: "Playfair Display", serif;
    font-size: 64px;
    line-height: 1.1;
}
.topo span{
    color: var(--gold);
    font-style: italic;
}
.topo p {
    position: relative;
    z-index: 2;

    margin: 20px 0 30px;

    color: #ffffff;
    font-size: 20px;
    opacity: 0.8;
}
.topo input {
    position: relative;
    z-index: 2;

    width: 100%;
    max-width: 480px;
    height: 58px;
    padding: 0 24px;

    background: #ffffff;
    border: none;
    border-radius: 10px;
    outline: none;

    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
.topo input:focus {
    outline: 2px solid var(--gold);
}

.topo > img {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    opacity: 0.55;
}

.topo::before{
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;

     background: linear-gradient(
        90deg,
        rgba(13, 27, 42, 0.95) 0%,
        rgba(13, 27, 42, 0.75) 45%,
        rgba(13, 27, 42, 0.15) 100%
    );
}
.topo > img {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    opacity: 0.8;
}
.topo-conteudo {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 600px;
}
/* TOPO DA PÁGINA */
/* CATEGORIAS */

.categorias {
    padding: 80px;
}

.categorias h2,
.destaques h2 {
    margin-bottom: 35px;

    color: var(--navy);
    font-family: "Playfair Display", serif;
    font-size: 40px;
}

/* LIVROS EM DESTAQUE */

.destaques {
    padding: 0 80px 80px;
}














